@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: Inter, sans-serif;
    --radius: 1rem;
  }
}

@layer utilities {
  .squircle {
    border-radius: 20%;
  }
}
